{% extends 'base.html' %}

{% block head %}
<title>GrandPy Bot</title>
{% endblock %}

{% block body %}
<section class="container">
  <div class="chat-box">
    <div class="row">
      <div class="col d-flex justify-content-end">
        <div class="bot btn btn-primary">
          Salut, je suis GrandPy ...<br>Comment puis-je t'aider ?
        </div>
      </div>
    </div>
  </div>
  <form class="container" id="user-request-form">
    <div class="row">
    <input class="col form-control custom-input-text" type="text" name="userRequest" placeholder="Où se trouve la poste ?" />
    </div>
    <div class="row">
    <button class="col-auto custom-button btn btn-primary" type="submit">Envoyer</button>
    </div>
  </form>
</section>
{% endblock %}
