body
{
	color: rgb(189,183,175);
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
	background-color: rgb(22,25,26);
}

.custom-input-text
{
    color: rgb(73,73,73);
    background-color: rgb(22,25,26);
    border: none;
    border-bottom: 2px solid rgb(73,73,73);
    width: 100%;
    padding: 10px;
    margin: 10px;
}
    

.custom-input-text:hover
{
    color: black;
    border-bottom: 2px solid rgb(8,97,183);
    transition: .2s;
    transition-timing-function: linear;
}


.custom-button
{
    color: rgb(73,73,73);
    background-color: rgb(22,25,26);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}
.custom-button:hover
{
    color: white;
    background-color: $primary-color;
    transition: .2s;
    transition-timing-function: linear;
    
}

.bot
{
    border-radius: 20px 0px 20px 20px;
}
.user
{
    border-radius: 20px 20px 20px 0px;
}

footer .logo
{
  opacity:0.5;
}
footer .logo:hover
{
  opacity:1;
}
